#main-nav{
    height: 50px;
    
}

.tableCont,.watcherCont{
height: 100%;
width: 100%;
border: solid 1px black;
}
#gameStatus{
font-size: 28px;
font-weight: bold;
}
.contentBlock{
    display: inline-block;
   
}
.roundBlock{
    height: 100%;

}

.statusTopCont{
    margin-bottom: 50px;
}
.playerSeat{
    display: none;
    text-align: center;
}

.row{
margin: 15px;
}

.statCont{
    text-align: center;
}
.buttonPanel{
    text-align: center;
  
  display: block;
}
.tableCont{
    margin: 20px 0 20px 0;
    padding: 15px;
}
.scoreBoard{
    margin-top: 50px; 
   display:none; 
   text-align: left;
}
.btn{
    margin-bottom: 7px;
    min-width: 130px;
}
.navbar{
    margin-bottom: 100px;
}

.headerText{
    margin-left: 50px;
}
.watcherCont{
    padding: 0 0 5px 15px;
}
.timerPanel{
    font-family: monospace;
  font-size: larger;
  font-weight: bold;
  /* color: green; */


  /* Typography */
  text-align: center;

  /* Visual */
  /* background: black; */
}

#nextRoundCont{
    display: none;
     /* margin: 20px 0 20px 0; */
     /* padding-left: 50px; */
}


.gameBoard{
    margin-top: 50px;
    margin-bottom: 100px;
}